<form >
      <label for="name">Display Name:</label>
      <input type="text" name="name" id="name" [(ngModel)]="dname"> <br>
      <label for="room">Room to Join:</label>
      <input type="text" name="room" id="room" [(ngModel)]="droom"><br>
      <button type="button" (click)="handleSubmit()">Join video chat</button>
    </form>

    <p>{{dname}}</p>
    <p>{{droom}}</p>


    <video id="localmedia" ></video>

    <p>
      TODO:<br> 
      1. show local video <br> 
      2. connect to a room<br> 
      3. show participant's video<br> 
      4. Handle events<br> 
    </p>